@model IEnumerable<CoffeeShop.Models.Items>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>
@if (!SignInManager.IsSignedIn(User))
{
<div align="center">
    <p>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login to start shopping!</a>
    </p>
</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary m-1">Details</a>
                @if (SignInManager.IsSignedIn(User))
                { 
                    <a asp-action="Buy" asp-route-id="@item.Id" class="btn btn-success m-1">Buy</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
