@model CoffeeShop.Models.ViewModels.PurchaseHistoryViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.userItems.Count() > 0)
{
    <h1>Purchase History for @Model.user.Email</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Time of Purchase
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.items)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.userItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.items.FirstOrDefault(e => e.Id == item.ItemId).ItemName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-primary m-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.UserItemId" class="btn btn-danger m-1">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>There is no purchase history for @Model.user.Email</h1>
}